<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
  </head>
  <body>
    <div id="amazon-root"></div>
    <script type="text/javascript">
      window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('{{ amazon_client_id }}');
      };
      (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root').appendChild(a);
      })(document);
    </script>
    <a href="#" id="LoginWithAmazon">
      <img border="0" alt="Login with Amazon" src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png" width="156" height="32" />
    </a>
    <br/>
    <br/>
    <a href="#" id="Logout">logout</a>
    <script type="text/javascript">
      document.getElementById('LoginWithAmazon').onclick = function() {
        options = { scope : 'profile' };
        amazon.Login.authorize(options, 'https://{{ app_domain }}/images');
        return false;
      };
    </script>
    <script type="text/javascript">
      document.getElementById('Logout').onclick = function() {
        amazon.Login.logout();
        console.log("logged out");
        return false;
    };
    </script>
  </body>
</html>
